PORT=3333
NODE_ENV=development
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/crypto_wallet?schema=public"
JWT_ACCESS_SECRET="change-me-access"
JWT_REFRESH_SECRET="change-me-refresh"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
COINGECKO_API_URL="https://api.coingecko.com/api/v3"
